<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card-body">
    <div class="form-group">
    <form th:action="@{/formSelectRow}" method="POST" enctype="multipart/form-data">
        <img th:width="150" th:high="150" th:src="@{|/filmPoster/${film.id}|}">
        <br>
        <span th:text="${film.name}"></span>
        <br>
        <div class="form-group">
            <label for="rowId">Select row</label>
            <select class="form-control" id="rowId" name="rowId">
                <option th:each="rowId: ${listOfRows}" th:value="${rowId}" th:text="${rowId}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Next Step</button>
    </form>
</div>
</div>
</body>
</html>